* { 
  font-family: 'Proxima Nova', sans-serif;
}
.example-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    min-width: 300px;
    min-height: 400px;
    max-height: 100% !important;
  
    background: white;
  }
  .mat-header-row {
    background-color:#675EAD; 
  }
  .mat-header-cell { 
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .select {
    width:120px;
    margin: 15px;
    display: inline-block;
    color:#675EAD;
  }
  .filter-container {
    width: 100%;
    align-content: center;
    padding: 30px;
  }
  .mat-column-mrr {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 70px !important;
    width: 70px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  .mat-column-useCase {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 200px !important;
      width: 100px !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;
    
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
  }
  
  [class*="mat-column-"] {
    border-left-width: 1px;
    border-left-style:solid;
    border-color: #EEF0F0;
    align-self: stretch;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 7px;  
  }

  .mat-table[_ngcontent-c7] {
    overflow: auto;
    max-height: 100%;
}
   .mat-header-row{
    min-height: fit-content;
    padding-bottom: 10px;
  }
  .mat-cell {
    min-height: fit-content;
    padding-bottom: 10px;
  }
  .example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
}
  
  .mobile-label {
    display: none;
  }
  ::ng-deep .mat-header-row, .mat-row {
    padding-left: 0 !important;
  }
  .teridion-card {
    overflow-x: auto;
  }
  @media screen and (max-width:1200px) {
    .teridion-card {
      margin-left: 0px !important;
      margin-right: 0px !important  ;
    }
    .mat-column-useCase {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 300px !important;
      width: 100px !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;
    
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
  }

  }
  @media screen and (max-width: 800px) {
    .mat-column-useCase {
        flex: 0 0 0px !important;
    }
    .mobile-label {
      width: 80px;
      display: inline-block;
          font-weight: bold;
    }
  
    .mat-header-row {
      display: none;
    }
  
    .mat-row { 
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
      padding-left: 0;
    }
    .teridion-card {
      margin-left: 0px !important;
      margin-right: 0px !important  ;
    }
    .teridion-graph {
      overflow-x: scroll;
    }
    .mat-column-useCase {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 300px !important;
      width: 100px !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;
    
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
  }

  }
  @media screen and (max-width: 1700px) {
    .mat-column-useCase {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 80px !important;
      width: 100% !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;
    
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
  }
  .mat-column-mrr {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40px !important;
    width: 40px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
  }
  
  