<div class="container-fluid" style="background: white;">
    <div style="text-align:center">
      <h1 style="font-size: 25px;color:#646A76;margin: 15px;font-weight: bolder;">
        OPEN OPPORTUNITIES
      </h1>
    </div>
    <div class="container">
  </div>

<mat-table #table [dataSource]="dataSource" [class.isMobile]="isMobile" class="max-heigth:100%;">
  
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Opportinity Name </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Opp"><span class="mobile-label">Opportinity Name</span> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="partnerName">
        <mat-header-cell *matHeaderCellDef> Partner Name </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Partner"><span class="mobile-label">Partner Name </span> {{element.partnerName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mrr">
        <mat-header-cell *matHeaderCellDef> MRR </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="MRR"> <span class="mobile-label">MRR</span>{{element.mrr}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef> Owner </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Owner"> <span class="mobile-label">Owner</span>{{element.ownerName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="closeDate">
        <mat-header-cell *matHeaderCellDef> Close Date </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Close date"> <span class="mobile-label">Close Date</span>{{element.closedDate  | date:'MM-dd-yyyy' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="useCase">
        <mat-header-cell *matHeaderCellDef> Use Case </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Use Case"> <span class="mobile-label">Use Case</span>{{element.useCase}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nextStep">
        <mat-header-cell *matHeaderCellDef> Next Step </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Next step"> <span class="mobile-label">Next Step</span>{{element.nextStep}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stageName">
        <mat-header-cell *matHeaderCellDef> Stage </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Stage"> <span class="mobile-label">Stage</span>{{element.stageName}} </mat-cell>
      </ng-container>

    <ng-container matColumnDef="account">
      <mat-header-cell *matHeaderCellDef> Account </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Account"><span class="mobile-label">Account</span> {{element.accName}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  