<form class="example-container  mat-elevation-z8" [formGroup]="partner" (ngSubmit)="updatePartner()"> 
    <div class="container-fluid">
        <div style="text-align:center">
          <h1>
            COMPANY INFO
          </h1>
        </div>
    </div>
    <mat-form-field>
      <input matInput placeholder="Company Name" formControlName="Name"> 
      <mat-error *ngIf="Name.invalid">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Website" formControlName="Website">
      <mat-error *ngIf="Website.invalid">Required</mat-error>

    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Full Address" formControlName="BillingStreet">
      <mat-error *ngIf="BillingStreet.invalid">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder=" Legal Billing Entity (Should be align with signed contacts entity)" formControlName="Legal_Billing_Entity__c">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tax ID" formControlName="Tax_ID__c">
    </mat-form-field>
    <!--Billing Contact name-->
    <!--Billing Contact email-->
    <!--Billing Contact Phone Number-->
    <mat-form-field>
      <input matInput placeholder="Billing Email Address (AP/ Invoice Submission)" formControlName="Billing_Email_Address__c">
    </mat-form-field>
    <!--Bank name-->
    <mat-form-field>
      <input matInput placeholder="Bank Name" formControlName="Bank_Name__c">
    </mat-form-field>
    <!--Bank Address-->
    <mat-form-field>
      <input matInput placeholder="Bank Address" formControlName="Bank_Address__c">
    </mat-form-field>
    <!--Account Name-->
    <mat-form-field>
      <input matInput placeholder="Account Name" formControlName="Account_Name__c">
    </mat-form-field>
    <!--Account Number-->
    <mat-form-field>
      <input matInput placeholder="Account Number" formControlName="Account_Number__c">
    </mat-form-field>
    <!--Routing Number/ACH-->
    <mat-form-field>
      <input matInput placeholder="Routing Number/ACH " formControlName="Routing_Number_ACH__c">
    </mat-form-field>
    <!--Swift-->
    <mat-form-field>
      <input matInput placeholder="SWIFT " formControlName="SWIFT__c">
    </mat-form-field>
    <!--IBAN-->
    <mat-form-field>
      <input matInput placeholder="IBAN " formControlName="IBAN__c">
    </mat-form-field>
      
      <input placeholder="Sales Tax Exempt/ Reseller Certificate for Tax purposes" type="file" id="file" (change)="changefile($event.target.files)">

    <mat-form-field>  
      <input matInput placeholder="Number of Locations" formControlName="numberOflocations__c">
      <mat-error *ngIf="numberOflocations__c.invalid">Required</mat-error> 

    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Territories Covered" formControlName="teritories__c">
      <mat-error *ngIf="teritories__c.invalid">Required</mat-error>

    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Territories Covered" formControlName="teritories__c">
      <mat-error *ngIf="teritories__c.invalid">Required</mat-error>

    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Total Revenue" formControlName="totalRevenue__c">
        <mat-error *ngIf="totalRevenue__c.invalid">Required</mat-error>

    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Networking Revenue" formControlName="networkingRevenue__c">
        <mat-error *ngIf="networkingRevenue__c.invalid">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Overall Headcount" formControlName="overAllHeadCount__c">
      <mat-error *ngIf="overAllHeadCount__c.invalid">Required</mat-error>

    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Sales Headcount" formControlName="totalHeadCount__c">
      <mat-error *ngIf="totalHeadCount__c.invalid">Required</mat-error>

    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="How Did You Hear About Teridion" formControlName="hearAboutTeridion__c">
        
    </mat-form-field>
    <div class="button-row">
        <button type="submit" mat-raised-button color="primary" (click)="updatePartner()" [disabled]="!partner.valid">Save</button>
        <button mat-raised-button>Cancel</button>
    </div>
  </form>