<div class="container-fluid">
    <div class="row" style="margin-bottom: 20px;">
        <div class="mat-elevation-z8 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6 teridion-card"  style="background: white;height: 1041px;overflow-y: scroll;margin-bottom: 20px;">
            <app-list-opps></app-list-opps>
        </div>   
        <div class=" teridion-card col-12 col-sm-12 col-md-12 col-lg-12 col-xl-6  container">

            <div clas="row">
                <div class="mat-elevation-z8 col teridion-graph" style="padding:15px;background: white; overflow-x:auto">
                    <div style="text-align:center">
                        <h1 style="font-size: 25px;color:#646A76;font-weight: bolder;">
                            TOTAL SALES
                        </h1>
                        <h1 style="font-size: 13px;color:#646A76">
                                Current Quarter + Next 3 Calendars Quarters
                        </h1>
                    </div>  
                    <app-sales-graph></app-sales-graph>
                </div>
            </div>
            <div class="row"></div>
            <div clas="row">
                <div class="mat-elevation-z8 col teridion-graph" style="padding:15px; background: white; margin-top: 15px;overflow-x:auto"> 
                        <div style="text-align:center">
                            <h1 style="font-size: 25px;color:#646A76;font-weight: bolder;">
                                    WON MRR (in USD)
                            </h1>
                            <h1 style="font-size: 13px;color:#646A76">
                                    Per Quarter
                            </h1>
                        </div>  
                    <app-quarter-graph></app-quarter-graph>
                </div>
            </div>   
        </div>
    </div>
</div>
