* { 
    font-family: 'Proxima Nova', sans-serif;
}
.oppList {
    float: left;
    overflow-y: scroll;
    height: 80%;
    padding:30px;
    margin-bottom: 40px;
    background: white;
}
.graph {
    padding:30px;
    float: right;
    height: 80%;
    background: white;
    

}