<div class="container-fluid">
    <div class="row" style="margin-bottom: 20px;">
        <div class="mat-elevation-z8 col" style="background: white;height: 875px;overflow-y: scroll;">
            <app-list-opps></app-list-opps>
        </div>   
        <div class="col container">
            <div clas="row">
                <div class="mat-elevation-z8 col" style="padding:15px;background: white">  
                    <app-sales-graph></app-sales-graph>
                </div>
            </div>
            <div class="row"></div>
            <div clas="row">
                <div class="mat-elevation-z8 col" style="padding:15px; background: white; margin-top: 15px;">  
                    <app-quarter-graph></app-quarter-graph>
                </div>
            </div>   
        </div>
    </div>
</div>
