<div class="example-container mat-elevation-z8">
  <div class="filter-container">
    <mat-form-field class='select' *ngIf="globals.isAdmin">
        <mat-label>OWNER</mat-label>
        <mat-select [(value)]="ownerSelected" (selectionChange)="getOpporotunities()">
          <mat-option *ngFor="let user of allOwners" [value]="user.value">
            {{user.label}}
          </mat-option>
      </mat-select> 
    </mat-form-field>
    <div class='select'>
      <button mat-button [matMenuTriggerFor]="menu">USE CASE <mat-icon >arrow_drop_down</mat-icon></button>
        <mat-menu #menu="matMenu">
          <div (click) = "$event.stopPropagation()">
            <mat-checkbox class="select" *ngFor="let useCase of allUseCases" [(ngModel)]="checklist[useCase.value]" labelPosition="after" (change)="toggledCheckbox(useCase.value)" >
              {{useCase.value}}
            </mat-checkbox>
          </div>
        </mat-menu>
      </div>    
    <mat-form-field class='select'>
        <mat-label>STAGE</mat-label>
      <mat-select [(value)]="stageSelected" (selectionChange)="getOpporotunities()">
        <mat-option *ngFor="let stage of allStages" [value]="stage.label">
          {{stage.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class='select'>
      <input matInput placeholder="Account"  [value]="account" (input)="account = $event.target.value; getOpporotunities() ">
    </mat-form-field>
    <mat-form-field class='select'>
      <input matInput [matDatepicker]="createdDatePicker" placeholder="Created Date" [(ngModel)]='createdDate' (input)="createdDate = $event.target.value; ">
      <mat-datepicker-toggle matSuffix [for]="createdDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #createdDatePicker (selectedChanged)="selectedChanged($event,'createdDate')"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class='select'>
      <input matInput [matDatepicker]="closedDatePicker" placeholder="Closed date" [(ngModel)]='closeDate' (input)="closeDate = $event.target.value;  ">
      <mat-datepicker-toggle matSuffix [for]="closedDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #closedDatePicker (selectedChanged)="selectedChanged($event,'closeDate')"></mat-datepicker>
    </mat-form-field>
    <mat-form-field class='select'>
      <mat-label>Probability</mat-label>
        <input matInput placeholder="Probability"  [value]="probability" (input)="probability = $event.target.value; getOpporotunities() ">
  </mat-form-field>
  </div>
  
  <mat-table #table [dataSource]="displaySource" [class.isMobile]="isMobile">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Opportinity Name </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Opp"> 
        <span class="mobile-label"> Opportinity Name</span>
        {{element.name}}
       </mat-cell>
    </ng-container>

    <ng-container matColumnDef="partnerName">
        <mat-header-cell *matHeaderCellDef>  Partner Name  </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Partner"> 
            <span class="mobile-label">  Partner Name </span>
          {{element.partnerName}} 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="mrr">
        <mat-header-cell *matHeaderCellDef> MRR </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="MRR"> 
          <span class="mobile-label"> MRR </span>
          {{element.mrr}} 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="owner">
        <mat-header-cell *matHeaderCellDef>Owner </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Owner"> 
            <span class="mobile-label">Owner</span>
          {{element.ownerName}} 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="closeDate">
        <mat-header-cell *matHeaderCellDef> Close Date </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Close date"> 
            <span class="mobile-label">Close Date</span>
          {{element.closedDate  | date:'MM-dd-yyyy' }} 
        </mat-cell>

    </ng-container>

    <ng-container matColumnDef="useCase">
        <mat-header-cell *matHeaderCellDef> Use Case </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Use Case"> 
          <span class="mobile-label"> Use Case </span>
          {{element.useCase}} 
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nextStep">
        <mat-header-cell *matHeaderCellDef> Next Step </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Next step"> 
            <span class="mobile-label"> Next Step</span>
          {{element.nextStep}}
         </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stageName">
        <mat-header-cell *matHeaderCellDef> Stage </mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Stage"> 
          <span class="mobile-label"> Stage</span> 
          {{element.stageName}} 
        </mat-cell>
      </ng-container>

    <ng-container matColumnDef="account">
      <mat-header-cell *matHeaderCellDef> Account </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Account"> 
          <span class="mobile-label"> Account</span>
        {{element.accName}} 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="edit">
      <mat-header-cell *matHeaderCellDef> Edit Note </mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Edit Note">
          <span class="mobile-label">Edit Note</span>
          <button mat-button [matMenuTriggerFor]="menu"><mat-icon >edit</mat-icon></button>
          <mat-menu #menu="matMenu" style="width: 100px">
            <div (click) = "$event.stopPropagation()">
              <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Enter note" (blur)="updateNote(element.id,$event)">{{element.note}}</textarea>
              </mat-form-field>
            </div>   
          </mat-menu>
      </mat-cell> 

    </ng-container>





    <mat-header-row *matHeaderRowDef="displayedColumns;"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

</div>
