.example-container {
    display: flex;
    flex-direction: column;
    height: 90%;
    min-width: 300px;
    background: white;
  }
  .mat-header-row {
    background-color:#675EAD; 
  }
  .mat-header-cell { 
    color: white;
    font-weight: 700;
    text-transform: uppercase;
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  
  .select {
    width:120px;
    margin: 15px;
    display: inline-block;
    color:#675EAD;
  }
  .filter-container {
    width: 100%;
    align-content: center;
    padding: 30px;
  }
  .mat-column-useCase {
      word-wrap: break-word !important;
      white-space: unset !important;
      flex: 0 0 300px !important;
      width: 100px !important;
      overflow-wrap: break-word;
      word-wrap: break-word;
    
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;
    
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
  }
  
  [class*="mat-column-"] {
    border-left-width: 1px;
    border-left-style:solid;
    border-color: #EEF0F0;
    align-self: stretch;
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 7px;  
  }
   .mat-header-row{
    min-height: fit-content;
    padding-bottom: 10px;
  }
  .mat-cell {
    min-height: fit-content;
    padding-bottom: 10px;
  }
  .add-user-button {
    background: #675EAD;
    border-radius: 7px;
    width: fit-content;
    float: right;
    cursor: pointer;
    color: white;
    padding: 4px;
    margin: 7px;
  }
  .mat-column-edit {
    min-width: fit-content;
  }