.toolbar {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
.menu {
    background-color: #26B35A;
    border-radius: 10px;
    margin-left: auto;
}
.option {
    color:white !important;
    font-size: 11px;
}
.account{
    background-color: #646A76;
    border-radius: 10px;
    color: white;

}
.toolbar-button{
    font-size: 11px;
}
.mat-chip {
    font-size: 10px;
    line-height: 18px;
    border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-right: 10px;
    padding-left: 7px;
    padding-right: 7px;
    background-color: #979797 !important;
    color: white !important;
}
.mat-button-wrapper{
        font-size: 11px;
        margin-right: 5px;
}

.user-name {
    float: right;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    color: #646A76;
}
.menu-dropdown {
    top:50px !important;
}
:host .cdk-overlay-pane {   
    top: 50px !important;
}
