
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>


<!--<mat-toolbar class='custom-toolbar' color="primary">
  <div class='container '>
  <div class="row">
    <div class="col-lg-10 col-md-1">
      <div class='logo col-2 col-md-4'>
        <img  [src]="'assets/Teridion.PNG' | staticpath">
      </div>
      <div class="primary-toolbar col-lg-10 col-md-11" >
        <button mat-button [routerLink]="['first-page']">HOME</button>
        <button mat-button [routerLink]="['other-page']">OPPORTUNITIES</button>
        <button mat-button >REGISTER DEAL</button>
        <button mat-button>RESOURCES</button>
        <button mat-button>DOCUMENTS</button>
        <button mat-button>SHCEDULE DEMO</button>
        <button mat-button [routerLink]="['company-info']">COMPANY</button>
      </div>
    </div>
    <div class="toolbar-account col-2">
      <button mat-button>LOG OUT</button>
      <mat-icon>account_circle</mat-icon>
      <button mat-button>ACCOUNT</button>
    </div> 
  </div>
  </div>
</mat-toolbar>-->
